#header {
    font-family: 'Roboto', sans-serif;
    
}

.title {
  font-size: 18px;
  float: left;
  display: block;
  color: #f2f2f2;
}

.topnav {
  background-color: #1C1A1A;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  background-color: #4CAF50;
  color: white;
}
